{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Child Pickups{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Child Pickups</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'register_face' %}">Register Student Face</a></li>
                <li><a href="{% url 'register_pickup_person' %}">Register Pickup Person </a></li>
                <li><a href="{% url 'pickup_schedule' %}">Pickup Schedule</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Child Pickups</p>
    </footer>
</body>
</html>
